.search-form {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 40px;
}

.search-input {
  width: 450px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #E7E7E7;
  box-shadow: 0 3px 6px rgba(0,0,0,0.08);
}

.search-button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.08);
  height: 40px;
}

.search-button:hover {
  transition-duration: 0.5s;
  background-color: darkblue;
}

.city-name {
  font-size: 26px;
  font-weight: bold;
  margin-top: 20px;
  color: black;
  text-align: center;
}

.weather-info {
  text-align: center;
  font-size: 22px;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 20px;
}
