<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/LemireM"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/mael-lemire-058aa62a4/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
  made by myself :D
  </div>
</div>
